<p>Bem vindo <%= @email %>!</p>

<p>Você pode confirmar sua conta pelo link que foi enviado para o seu email!</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, confirmation_token: @token) %></p>
