/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 #navegacao{
   background-color: #D3D3D3}

 .footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  text-align: center;
  height: 60px;
  background-color: #D3D3D3;
  border-bottom: 0%;
}

#cores{
  color: #000000;
  text-decoration-style: double;
  font-size: 150%;
}

#footercor{
  color: #0000FF;
  text-decoration-style: double;
}

.btn{
  background-color: #00BFFF;
  color: #000000;
}

.btn:hover{
  background-color: #0000FF;
}

#titulo{
  color: #0000FF;
}

#logar{
  color: #0000FF;
  font-size: 120%;
}

@import "bootstrap-sprockets";
@import "bootstrap";
